// ================ 显示输出配置 ================
output "DP-1" {
    mode "3840x2160@60.000"  // 4K 60Hz显示器
    scale 1.25               // 125%缩放
    position x=3072 y=0      // 主显示器位置
}

output "HDMI-A-1" {
    mode "3840x2160@59.982"  // 4K 60Hz显示器
    scale 1.25               // 125%缩放
    position x=0 y=0   // 位于主显示器左侧
}

output "DP-3" {
    mode "2560x1080@59.784"  // 1K 60Hz显示器
    scale 1.00               // 100%缩放
    position x=-2560 y=324      // 放到所有显示器的最左边
}
